{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'hotel/js/hotel_create.js' %}"></script>

<h1>FORM BUAT HOTEL</h1>

<div>Kode Hotel : 
    <label id="kode-hotel">{{max_id}}</label>
</div>
<label for="fname">Nama Hotel : </label>
<input type="text" id="nama-hotel" maxlength="30"></input> <br>
<label for="fname">Rujukan : </label>
<input type="checkbox" id="isrujukan"></input> <br>
<div>
    Alamat : 
    
</div>
<label for="fname">Jalan : </label>
<input type="text" id="jalan" maxlength="30"></input> <br>
<label for="fname">Kelurahan : </label>
<input type="text" id="kelurahan" maxlength="30"></input> <br>
<label for="fname">Kecamatan : </label>
<input type="text" id="kecamatan" maxlength="30"></input> <br>
<label for="fname">Kabupaten/Kota : </label>
<input type="text" id="kabkot" maxlength="30"></input> <br>
<label for="fname">Provinsi : </label>
<input type="text" id="provinsi" maxlength="30"></input> <br>

<div id="submit">SIMPAN</div>
<a href="{% url 'hotel:index' %}">KEMBALI</a>
{% endblock %}