{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'hotel/createHotelReservation.js' %}"></script>
{% endblock meta %}
{% block content %}

{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
{% endif %}
<h4>Form Reservasi Hotel</h4>
<br>
<form method="POST" action="{% url 'hotel:createHotelReservation' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nikPasien" class="form-label">Nik Pasien</label>
        <select type="text" name="nikPasien" class="form-control" id="nikPasien" required>
            <option disabled selected value> -- select an option -- </option>
            {% for pasien in pasienList %}
            <option value="{{ pasien.0 }}">{{ pasien.0 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="tglmasuk" class="form-label">Tanggal Masuk</label>
        <input type="date" name="tglmasuk" class="form-control" id="tglmasuk" required>
    </div>
    <div class="mb-3">
        <label for="tglkeluar" class="form-label">Tanggal Keluar</label>
        <input type="date" name="tglkeluar" class="form-control" id="tglkeluar" required>
    </div>
    <div class="mb-3">
        <label for="kodehotel" class="form-label">Kode Hotel</label>
        <select type="text" name="kodehotel" class="form-control" id="kodehotel" required>
            <option disabled selected value> -- select an option -- </option>
            {% for hotel in hotelList %}
            <option value="{{ hotel.0 }}">{{ hotel.0 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="koderuangan" class="form-label">Kode Ruangan</label>
        <select type="text" name="koderuangan" class="form-control" id="koderuangan" required>
            <option disabled selected value> -- select an option -- </option>
            <!--Ajax value goes here-->
        </select>
    </div>
    <button type="submit" id="hotelRoomSubmit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}