{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'hotel/kodeRoom.js' %}"></script>
{% endblock meta %}
{% block content %}

{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
{% endif %}

<form method="POST" action="{% url 'hotel:createHotelRoom' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kodeHotel" class="form-label">Kode Hotel</label>
        <select type="text" name="kodeHotel" class="form-control" id="kodeHotel" required>
            <option disabled selected value> -- select an option -- </option>
            {% for kode in kodeList %}
            <option value="{{ kode }}">{{ kode }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="kodeRuangan" class="form-label">Kode Ruangan</label>
        <input type="text" name="kodeRuangan" class="form-control" id="kodeRuangan" readonly>
    </div>
    <div class="mb-3">
        <label for="jenisBed" class="form-label">Jenis Bed</label>
        <input type="text" name="jenisBed" class="form-control" id="jenisBed" required>
    </div>
    <div class="mb-3">
        <label for="tipe" class="form-label">Tipe</label>
        <input type="text" name="tipe" class="form-control" id="tipe" required>
    </div>
    <div class="mb-3">
        <label for="harga" class="form-label">Harga per hari (dalam ribu Rupiah)</label>
        <input type="text" name="harga" class="form-control" id="harga" required>
    </div>
    <button type="submit" id="hotelRoomSubmit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}