{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- JS External -->
<script src="{% static 'hotel/js/hotel_index.js' %}"></script>
<style>
    table, th, td {
      border: 1px solid black;
    }

    table {
  width: 100%;
  border-collapse: collapse;
    }
</style>

<h1>Hotel</h1>
{% if admin_sistem %}
<a href="{% url 'hotel:create_hotel' %}">TAMBAH</a>
{% endif %} 
<table class="table mt-3">
    <thead class="bg-1">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kode</th>
        <th scope="col">Hotel</th>
        <th scope="col">Rujukan</th>
        <th scope="col">Alamat</th>
        {% if admin_sistem %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for hotel in hotel_query %}
            <tr class="bg-4">
                <th class="idNo" scope="row">{{hotel.0}}</th>
                <td class="kode-hotel">{{hotel.1}}</td>
                <td class="nama-hotel">{{hotel.2}}</td>
                <td>
                  {% if hotel.3 == "1" %}
                  <input type="checkbox" checked disabled></input>
                  {% else %}
                  <input type="checkbox" disabled></input>
                  {% endif %}
                </td>
                <td>
                  <div id="alamat">{{hotel.4}}</div>
                </td>
                {% if admin_sistem %}
                <td>    
                    <div class="update-url">
                    update
                    </div>
                </td>
                {% endif %}
            </tr>     
        {% endfor %}
    </tbody>
</table>

{% endblock %}