{% extends 'base.html' %}

{% block content %}

{% if messages %}
<br>
<h4>
{% for message in messages %}
    {{ message }}
{% endfor %}
</h4>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Tanggal Masuk</th>
        <th scope="col">Tanggal Keluar</th>
        <th scope="col">Kode Hotel</th>
        <th scope="col">Ruangan</th>
        {% if request.session.peran == "admin satgas" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for hotelReservation in listHotelReservation %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ hotelReservation.0 }}</td>
        <td>{{ hotelReservation.1 }}</td>
        <td>{{ hotelReservation.2 }}</td>
        <td>{{ hotelReservation.3 }}</td>
        <td>{{ hotelReservation.4 }}</td>
        {% if request.session.peran == "admin satgas" %}
        <td> 
            <a href="{% url 'hotel:updateHotelReservation' hotelReservation.0 hotelReservation.1 %}">Update</a>
            {% if hotelReservation.5 %}
             | <a href="{% url 'hotel:deleteHotelReservation' hotelReservation.0 hotelReservation.1 %}">Delete</a>
            {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}