{% extends 'base.html' %}

{% block content %}

{% if messages %}
<br>
<h4>
{% for message in messages %}
    {{ message }}
{% endfor %}
</h4>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode Hotel</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Jenis Bed</th>
        <th scope="col">Tipe</th>
        <th scope="col">Harga</th>
        {% if request.session.peran == "admin sistem" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for hotelRoom in listHotelRoom %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ hotelRoom.0 }}</td>
        <td>{{ hotelRoom.1 }}</td>
        <td>{{ hotelRoom.2 }}</td>
        <td>{{ hotelRoom.3 }}</td>
        <td>Rp.{{ hotelRoom.4 }}</td>
        {% if request.session.peran == "admin sistem" %}
        <td> 
            <a href="{% url 'hotel:updateHotelRoom' hotelRoom.0 hotelRoom.1 %}">Update</a>
            {% if hotelRoom.5 %}
             | <a href="{% url 'hotel:deleteHotelRoom' hotelRoom.0 hotelRoom.1 %}">Delete</a>
            {% endif %}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}