{% extends 'base.html' %}

{% block content %}

{% if messages %}
<br>
<h4>
{% for message in messages %}
    {{ message }}
{% endfor %}
</h4>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Id Transaksi</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Tanggal Pembayaran</th>
        <th scope="col">Waktu Pembayaran</th>
        <th scope="col">Total Bayar</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for transaksiHotel in listTransaksiHotel %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ transaksiHotel.0 }}</td>
        <td>{{ transaksiHotel.1 }}</td>
        <td>{{ transaksiHotel.2 }}</td>
        <td>{{ transaksiHotel.3 }}</td>
        <td>{{ transaksiHotel.4 }}</td>
        <td>{{ transaksiHotel.5 }}</td>
        <td><a href="{% url 'hotel:updateTransaksiHotel' transaksiHotel.0 %}">Update</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}