{% extends 'base.html' %}

{% block content %}

{% if messages %}
<br>
<h4>
{% for message in messages %}
    {{ message }}
{% endfor %}
</h4>
{% endif %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Id Transaksi</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">Total Bayar</th>
        <th scope="col">Kode Pasien</th>
        <th scope="col">Tanggal Masuk</th>
      </tr>
    </thead>
    <tbody>
      {% for transaksiBooking in listTransaksiBooking %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ transaksiBooking.0 }}</td>
        <td>{{ transaksiBooking.1 }}</td>
        <td>{{ transaksiBooking.2 }}</td>
        <td>{{ transaksiBooking.3 }}</td>
        <td>{{ transaksiBooking.4 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}