{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}

<h4>Form Update Hotel Room</h4>
<form method="POST" action="{% url 'hotel:updateHotelRoom' hotelRoomDetail.0 hotelRoomDetail.1 %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="disabledInput" class="form-label">Kode Hotel</label>
        <input class="form-control" name="kodehotel" id="disabledInput" value="{{hotelRoomDetail.0}}" type="text" placeholder="{{hotelRoomDetail.0}}" readonly>
    </div>
    <div class="mb-3">
      <label for="kodeRoom" class="form-label">Kode Room</label>
      <input type="text" name="koderoom" class="form-control" id="kodeRoom" value="{{hotelRoomDetail.1}}" placeholder="{{hotelRoomDetail.1}}" readonly>
    </div>
    <div class="mb-3">
      <label for="jenisBed" class="form-label">Jenis Bed</label>
      <input type="text" name="jenisBed" class="form-control" id="jenisBed" placeholder="{{ hotelRoomDetail.2 }}" required>
    </div>
    <div class="mb-3">
        <label for="tipe" class="form-label">Tipe</label>
        <input type="text" name="tipe" class="form-control" id="tipe" placeholder="{{ hotelRoomDetail.3 }}" required>
    </div>
    <div class="mb-3">
        <label for="harga" class="form-label">Harga</label>
        <input type="text" name="harga" class="form-control" id="harga" placeholder="{{ hotelRoomDetail.4 }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}