{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}

<h4>Form Update Hotel Reservation</h4>
<form method="POST" action="{% url 'hotel:updateHotelReservation' hotelReservationDetail.0 hotelReservationDetail.1 %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="disabledInput" class="form-label">NIK Pasien</label>
        <input class="form-control" name="kodepasien" id="disabledInput" value="{{hotelReservationDetail.0}}" type="text" placeholder="{{hotelReservationDetail.0}}" readonly>
    </div>
    <div class="mb-3">
      <label for="tglmasuk" class="form-label">Tanggal Masuk {{hotelReservationDetail.1}}</label>
      <input type="date" name="tglmasuk" class="form-control" id="tglmasuk" value="{{hotelReservationDetail.1|date:'Y-m-d'}}" placeholder="{{hotelReservationDetail.1}}" readonly>
    </div>
    <div class="mb-3">
      <label for="tglkeluar" class="form-label">Tanggal Keluar</label>
      <input type="date" name="tglkeluar" class="form-control" id="tglkeluar" placeholder="{{ hotelReservationDetail.2 }}" required>
    </div>
    <div class="mb-3">
        <label for="kodehotel" class="form-label">Hotel</label>
        <input type="text" name="kodehotel" class="form-control" id="kodehotel" value="{{ hotelReservationDetail.3 }}" placeholder="{{ hotelReservationDetail.3 }}" readonly>
    </div>
    <div class="mb-3">
        <label for="koderoom" class="form-label">Ruangan</label>
        <input type="text" name="koderoom" class="form-control" id="koderoom" value="{{ hotelReservationDetail.4 }}" placeholder="{{ hotelReservationDetail.4 }}" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    console.log($('#tglmasuk').val())
    var tglmasuk = new Date($('#tglmasuk').val());
    var minimumTglMasuk = new Date(tglmasuk.valueOf() + 1000*3600*24).toISOString().split('T')[0]
    console.log(minimumTglMasuk);
    $('#tglkeluar').attr("min", minimumTglMasuk);
</script>

{% endblock content %}