{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}

<h4>Form Update Transaksi Hotel</h4>
<form method="POST" action="{% url 'hotel:updateTransaksiHotel' hotelTransaksiDetail.0 %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="disabledInput" class="form-label">NIK Pasien</label>
        <input class="form-control" name="kodepasien" id="disabledInput" value="{{hotelTransaksiDetail.0}}" type="text" placeholder="{{hotelTransaksiDetail.0}}" readonly>
    </div>
    <div class="mb-3">
        <label for="idtransaksi" class="form-label">Hotel</label>
        <input type="text" name="idtransaksi" class="form-control" id="idtransaksi" value="{{ hotelTransaksiDetail.1 }}" placeholder="{{ hotelTransaksiDetail.1 }}" readonly>
    </div>
    <div class="mb-3">
        <label for="tglbayar" class="form-label">Tanggal Pembayaran</label>
        <input type="date" name="tglbayar" class="form-control" id="tglbayar" value="{{ hotelTransaksiDetail.2 |date:'Y-m-d'}}" placeholder="{{ hotelTransaksiDetail.2 }}" readonly>
    </div>
    <div class="mb-3">
        <label for="waktubayar" class="form-label">Waktu Pembayaran</label>
        <input type="text" name="waktubayar" class="form-control" id="waktubayar" value="{{ hotelTransaksiDetail.3 }}" placeholder="{{ hotelTransaksiDetail.3 }}" readonly>
    </div>
    <div class="mb-3">
        <label for="totalbiaya" class="form-label">Total Biaya</label>
        <input type="text" name="totalbiaya" class="form-control" id="totalbiaya" value="{{ hotelTransaksiDetail.4 }}" placeholder="{{ hotelTransaksiDetail.4 }}" readonly>
    </div>
    <div class="mb-3">
        <label for="statusbayar" class="form-label">Status Bayar</label>
        <input type="text" name="statusbayar" class="form-control" id="statusbayar" value="{{ hotelTransaksiDetail.5 }}" placeholder="{{ hotelReservationDetail.5 }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}