{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'hotel/js/hotel_update.js' %}"></script>

<h1>FORM UBAH DATA HOTEL</h1>

<div>Kode Hotel : 
    <label id="kode-hotel">{{hotel.0}}</label>
</div>
<label for="fname">Nama Hotel : </label>
<input type="text" id="nama-hotel" maxlength="30" value="{{hotel.1}}"></input> <br>
<label for="fname">Rujukan : </label>
{% if hotel.2 == "1" %}
<input id="isrujukan" type="checkbox" checked></input>
{% else %}
<input id="isrujukan" type="checkbox"></input>
{% endif %}
<br>
<div>
    Alamat : 
    
</div>
<label for="fname">Jalan : </label>
<input type="text" value="{{hotel.3}}" id="jalan" maxlength="30"></input> <br>
<label for="fname">Kelurahan : </label>
<input type="text" value="{{hotel.4}}" id="kelurahan" maxlength="30"></input> <br>
<label for="fname">Kecamatan : </label>
<input type="text" value="{{hotel.5}}" id="kecamatan" maxlength="30"></input> <br>
<label for="fname">Kabupaten/Kota : </label>
<input type="text" value="{{hotel.6}}" id="kabkot" maxlength="30"></input> <br>
<label for="fname">Provinsi : </label>
<input type="text" value="{{hotel.7}}" id="provinsi" maxlength="30"></input> <br>

<div id="submit">SIMPAN</div>
<a href="{% url 'hotel:index' %}">KEMBALI</a>
{% endblock %}