{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
<h4>Form Pendaftaran Jadwal Dokter</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Buat Jadwal Dokter</th>
      </tr>
    </thead>
    <tbody>
      {% for var in context %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ var.0 }}</td>
        <td>{{ var.1 }}</td>
        <td>{{ var.2 }}</td>
        <td>
            <form method="POST" action="{% url 'dokter:createSchedule' %}">
                {% csrf_token %}
                    <input type="hidden" name="kodefaskes" class="form-control" id="kodepasien" value="{{var.0}}">
                    <input type="hidden" name="shift" class="form-control" id="shift" value="{{var.1}}">
                    <input type="hidden" name="tanggal" class="tanggal" id="tglkeluar" value="{{var.2}}">
                    <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}