{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
    <h3>Daftar Jadwal Dokter</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">No STR</th>
        <th scope="col">Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jumlah Pasien</th>
      </tr>
    </thead>
    <tbody>
      {% for jadwal in listJadwal %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ jadwal.0 }}</td>
        <td>{{ jadwal.1 }}</td>
        <td>{{ jadwal.2 }}</td>
        <td>{{ jadwal.3 }}</td>
        <td>{{ jadwal.4 }}</td>
        <td>{{ jadwal.5 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}