{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'roomnbed/createBed.js' %}"></script>
{% endblock meta %}
{% block content %}

{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
{% endif %}
<h4>Form Buat Ruangan RS</h4>
<br>
<form method="POST" action="{% url 'roomnbed:createBed' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="koderumahsakit" class="form-label">Kode Rumah Sakit</label>
        <select type="text" name="koderumahsakit" class="form-control" id="koderumahsakit" required>
            <option disabled selected value> -- select an option -- </option>
            {% for rs in context %}
            <option value="{{ rs.0 }}">{{ rs.0 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="koderuangan" class="form-label">Kode Ruangan</label>
        <select type="text" name="koderuangan" class="form-control" id="koderuangan" required>
            <option disabled selected value> -- select an option -- </option>
            <!--Ajax value goes here-->
        </select>
    </div>
    <div class="mb-3">
        <label for="kodebed" class="form-label">Kode Bed</label>
        <input type="text" name="kodebed" class="form-control" id="kodebed" readonly>
    </div>
    <button type="submit" id="hotelRoomSubmit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}