{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'roomnbed/koderuangan.js' %}"></script>
{% endblock meta %}
{% block content %}

{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
{% endif %}
<h4>Form Buat Ruangan RS</h4>
<br>
<form method="POST" action="{% url 'roomnbed:createRuangan' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="koderumahsakit" class="form-label">Kode Rumah Sakit</label>
        <select type="text" name="koderumahsakit" class="form-control" id="koderumahsakit" required>
            <option disabled selected value> -- select an option -- </option>
            {% for rs in context %}
            <option value="{{ rs.0 }}">{{ rs.0 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="koderuangan" class="form-label">Kode Ruangan</label>
        <input type="text" name="koderuangan" class="form-control" id="koderuangan" readonly>
    </div>
    <div class="mb-3">
        <label for="tipe" class="form-label">Tipe Bed</label>
        <input type="text" name="tipe" class="form-control" id="tipe" required>
    </div>
    <div class="mb-3">
        <label for="harga" class="form-label">Harga</label>
        <input type="text" name="harga" class="form-control" id="harga" required>
    </div>
    <button type="submit" id="hotelRoomSubmit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}