{% extends 'base.html' %}
{% block content %}

{% if messages %}
<br>
<h4>
{% for message in messages %}
    {{ message }}
{% endfor %}
</h4>
{% endif %}
<h4>List Bed RS</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Kode Bed</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row in context %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        {% if row.3 %}
        <td><a href="{% url 'roomnbed:deleteBed' row.0 row.1 row.2 %}">Delete</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}