{% extends 'base.html' %}
{% block content %}
{% if messages %}
<br>
<h4>
{% for message in messages %}
    {{ message }}
{% endfor %}
</h4>
{% endif %}
<h4>List Ruangan RS</h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Kode RS</th>
        <th scope="col">Kode Ruangan</th>
        <th scope="col">Tipe</th>
        <th scope="col">Jumlah Bed</th>
        <th scope="col">Harga Ruangan</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row in context %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.4 }}</td>
        <td><a href="{% url 'roomnbed:updateRuangan' row.0 row.1 %}">Update</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}