{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}

<h4>Form Update Ruangan RS</h4>
<form method="POST" action="{% url 'roomnbed:updateRuangan' row.0 row.1 %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="disabledInput" class="form-label">Kode Rumah Sakit</label>
        <input class="form-control" name="koderumahsakit" id="disabledInput" value="{{row.0}}" type="text" placeholder="{{row.0}}" readonly>
    </div>
    <div class="mb-3">
      <label for="koderuangan" class="form-label">Kode Ruangan</label>
      <input type="text" name="koderuangan" class="form-control" id="koderuangan" value="{{row.1}}" placeholder="{{row.1}}" readonly>
    </div>
    <div class="mb-3">
        <label for="tipe" class="form-label">Tipe</label>
        <input type="text" name="tipe" class="form-control" id="tipe" value="{{ row.2 }}" placeholder="{{ row.2 }}" required>
    </div>
    <div class="mb-3">
        <label for="harga" class="form-label">Harga Ruangan</label>
        <input type="text" name="harga" class="form-control" id="harga" value="{{ row.3 }}" placeholder="{{ row.3 }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock content %}