{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
<h4>Booking Appointment</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">No STR</th>
        <th scope="col">Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Buat Appointment</th>
      </tr>
    </thead>
    <tbody>
      {% for var in listJadwalAppointment %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ var.0 }}</td>
        <td>{{ var.1 }}</td>
        <td>{{ var.2 }}</td>
        <td>{{ var.3 }}</td>
        <td>{{ var.4 }}</td>
        
        <td>
          <form method="POST" action="{% url 'appointment:formAppointment' %}">
            {% csrf_token %}
                <input type="hidden" name="nostr"value="{{var.0}}">
                <input type="hidden" name="username"value="{{var.1}}">
                <input type="hidden" name="kodefaskes"value="{{var.2}}">
                <input type="hidden" name="shift"value="{{var.3}}">
                <input type="hidden" name="tanggal"value="{{var.4}}">
                <button type="submit" class="btn btn-primary">Book</button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}