{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
{% if request.session.peran == "admin satgas" or request.session.peran == "pengguna publik" %}
<form method="POST" action="{% url 'appointment:saveAppointment' %}">
    {% csrf_token %}
<h4>Form Appointment</h4>
    <div>       
     <label for=" nik pasien" class="form label">NIK Pasien</label>
    <select class="form-select" name="nik_pasien" multiple aria-label="multiple select example">
        <option value="1">pasien</option>
        {% for i in nik_pasien %}
        <option value={{i.0}}>{{i.0}}</option>
        {% endfor %}
      </select>
    </div>


      {% for var in listJadwalAppointment %}
        
            
    <input type="hidden" name="nostr"value="{{var.0}}" readonly>
    <input name="username"value="{{var.1}}" readonly>
    <input name="kodefaskes"value="{{var.2}}" readonly>
    <input name="shift"value="{{var.3}}" readonly>
    <input name="tanggal"value="{{var.4}}" readonly>
    <button type="submit" class="btn btn-primary">Book</button>
    </form>


      {% endfor %}
      {%endif%}
{% endblock content %}