{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
    <h3>Daftar Appointment</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">NIK Pasien</th>
        <th scope="col">No Str</th>
        <th scope="col">Username Dokter</th>
        <th scope="col">Faskes</th>
        <th scope="col">Shift</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Rekomendasi</th>
        {% if request.session.peran == "admin satgas" or request.session.peran == "dokter" %}
        <th scope="col">Action</th>

        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for jadwal in listJadwalPeriksa %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ jadwal.0 }}</td>
        <td>{{ jadwal.1 }}</td>
        <td>{{ jadwal.2 }}</td>
        <td>{{ jadwal.3 }}</td>
        <td>{{ jadwal.4 }}</td>
        <td>{{ jadwal.5 }}</td>
        <td>{{ jadwal.6 }}</td>
        <td>
        {% if request.session.peran == "admin satgas" %}
          <form method="POST" action="{% url 'appointment:deleteAppointment' %}">
          
            {% csrf_token %}
            <input type="hidden" name="nik"value="{{jadwal.0}}" readonly>                  
            <input type="hidden" name="nostr"value="{{jadwal.1}}" readonly>                 
            <input type="hidden" name="username"value="{{jadwal.2}}" readonly>            
            <input type="hidden" name="faskes"value="{{jadwal.3}}" readonly>                      
            <input type="hidden" name="shift"value="{{jadwal.4}}" readonly>                      
            <input type="hidden" name="tanggal"value="{{jadwal.5}}" readonly>            
            <input type="hidden" name="rekomendasi"value="{{jadwal.6}}" readonly>
            <br>
  
            <button type="submit" class="btn btn-danger">delete</button>
          </form>
        {% elif request.session.peran == "dokter" %}
        <form method="POST" action="{% url 'appointment:updateAppointment' %}">
          
          {% csrf_token %}
          <input type="hidden" name="nik"value="{{jadwal.0}}" readonly>                  
          <input type="hidden" name="nostr"value="{{jadwal.1}}" readonly>                 
          <input type="hidden" name="username"value="{{jadwal.2}}" readonly>            
          <input type="hidden" name="faskes"value="{{jadwal.3}}" readonly>                      
          <input type="hidden" name="shift"value="{{jadwal.4}}" readonly>                      
          <input type="hidden" name="tanggal"value="{{jadwal.5}}" readonly>            
          <input type="hidden" name="rekomendasi"value="{{jadwal.6}}" readonly>
          <br>

          <button type="submit" class="btn btn-primary">Update</button>
        </form>

        {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}