{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
<h4>Form Update Pasien</h4>
<form method="POST" action="{% url 'appointment:saveUpdateAppointment' %}">
    {% csrf_token %}
    {% for sc in updateAppointment%}
    <div class="mb-3">
        <label for="nik" class="form-label">NIK</label>
        <input  type="text" class="form-control" name="nik" id="nik" value="{{sc.0}}" readonly>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username Dokter</label>
      <input type="text" name="username" class="form-control" id="nik" value="{{ sc.2 }}" readonly>
    </div>
    <div class="mb-3">
      <label for="shift" class="form-label">Shift Praktek</label>
      <input type="text" name="shift" class="form-control" id="shift" value="{{ sc.4 }}" readonly>
    </div>
    <div class="mb-3">
      <label for="tanggal" class="form-label">Tanggal</label>
      <input type="text" name="tanggal" class="form-control" id="tanggal" value="{{ sc.5 }}" readonly>
    </div>
    <div class="mb-3">
      <label for="faskes" class="form-label">Faskes</label>
      <input type="text" name="faskes" class="form-control" id="faskes" value="{{ sc.3 }}" readonly>
    </div>
    <div class="mb-3">
        <label for="rekomendasi" class="form-label">Rekomendasi</label>
        <input type="text" name="rekomendasi" class="form-control" id="rekomendasi" value="{{ sc.6 }}" placeholder="rekomendasi" required>
    </div>
    <div class="mb-3">
        <label for="nostr" class="form-label">No STR</label>
        <input type="text" name="nostr" class="form-control" id="nostr" value="{{ sc.1 }}" readonly>
    </div>
    <br>
    
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock content %}