{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<p>{{ message }}</p>

<form method="POST" action="{% url 'rs:create' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kode_faskes" class="form-label">Faskes</label>
        <select type="text" name="kode_faskes" class="form-control" id="kode_faskes" required>
            {% for x in kode_faskes %}
            <option value="{{ x.kode }}">{{ x.kode }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="isrujukan" class="form-label">Rujukan?</label>
        <input type="checkbox" id="isrujukanTrue" name="isrujukanTrue" value='1'>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}