{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<table class="table">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Kode</th>
      <th scope="col">Rujukan?</th>
      {% if request.session.peran == "admin satgas" %}
      <th scope="col">Action</th>
      {% endif %}

    </tr>

    {% for row in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</td>
      <td>{{ row.kode_faskes }}</td>

      {% if row.checklist %}
      <td><input type='checkbox' name='isrujukan' checked disabled/></td>
      {% else %}
      <td><input type='checkbox' name='isrujukan' disabled/></td>
      {% endif %}

      {% if request.session.peran == 'admin satgas' %}
      <td>
          <div class="pi-draggable btn-group" draggable="true">
              <a class="btn btn-primary" href="{% url 'rs:update' row.kode_faskes %}"><b>Update</b></a>
          </div>
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>

{% endblock %}