{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'rs/tolong.js' %}"></script>
{% endblock meta %}
{% block content %}

<form method="POST" action="{% url 'rs:updatePost' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kode_faskes" class="form-label">Faskes</label>
        <input type="text" name="kode_faskes" class="form-control" value='{{ data.kode_faskes }}'id="kode_faskes" readonly>
    </div>
    <div class="mb-3">
        <label for="isrujukan" class="form-label">Rujukan?</label>
        {% if data.checklist %}
        <td><input type='checkbox' name='isrujukanTrue' value='1' checked/>
        </td>
        {% else %}
        <td><input type='checkbox' name='isrujukanTrue' value='1'/>
        </td>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>


{% endblock %}