{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<table class="table">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Id Transaksi</th>
      <th scope="col">Kode Pasien</th>
      <th scope="col">Tanggal Pembayaran</th>
      <th scope="col">Waktu Pembayaran</th>
      <th scope="col">Tanggal Masuk</th>
      <th scope="col">Total Biaya</th>
      <th scope="col">Status Bayar</th>
      {% if request.session.peran == "admin satgas" %}
      <th>Action</th>
      {% endif %}
    </tr>

    {% for row in data %}
    <tr>
      <td scope="row">{{ forloop.counter }}</td>
      <td>{{ row.idtransaksi }}</td>
      <td>{{ row.kodepasien }}</td>
      <td>{{ row.tanggalpembayaran }}</td>
      <td>{{ row.waktupembayaran }}</td>
      <td>{{ row.tglmasuk }}</td>
      <td>Rp {{ row.totalbiaya }}</td>
      <td>{{ row.statusbayar }}</td>
      {% if request.session.peran == 'admin satgas' %}
      <td>
          <div class="pi-draggable btn-group" draggable="true">
              <a class="btn btn-primary" href="{% url 'transaksirs:update' row.idtransaksi row.tglmasuk %}"><b>Update</b></a>
              <a class="btn btn-danger" href="{% url 'transaksirs:delete' row.idtransaksi row.tglmasuk %}"><b>Delete</b></a>
          </div>
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>

{% endblock %}