{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<form method="POST" action="{% url 'transaksirs:updatePost' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="idtransaksi" class="form-label">Id Transaksi</label>
        <input type="text" name="idtransaksi" class="form-control" value="{{ data.idtransaksi }}" readonly>
    </div>
    <div class="mb-3">
        <label for="kodepasien" class="form-label">Kode Pasien</label>
        <input type="input" name="kodepasien" class="form-control" value="{{ data.kodepasien }}" readonly>
    </div>
    <div class="mb-3">
        <label for="tglmasuk" class="form-label">Tanggal Masuk</label>
        <input type="input" name="tglmasuk" class="form-control" value="{{ data.tglmasuk|date:'d-m-Y' }}" readonly>
    </div>
    <div class="mb-3">
        <label for="tanggalpembayaran" class="form-label">Tanggal Pembayaran</label>
        <input type="text" name="tanggalpembayaran" class="form-control" value="{{ data.tanggalpembayaran }}" readonly>
    </div>
    <div class="mb-3">
        <label for="waktupembayaran" class="form-label">Waktu Pembayaran</label>
        <input type="text" name="waktupembayaran" class="form-control" value="{{ data.waktupembayaran}}"  readonly>
    </div>
    <div class="mb-3">
        <label for="totalbiaya" class="form-label">Total Biaya</label>
        <input type="text" name="totalbiaya" class="form-control" value="{{ data.totalbiaya }}"readonly>
    </div>
    <div class="mb-3">
        <label for="statusbayar" class="form-label">Status Bayar</label>
        <input type="text" name="statusbayar" class="form-control" value="{{ data.statusbayar }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>


{% endblock %}