<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'pengguna:index' %}">KENAPA GAK BISA AAAA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'pengguna:index' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hotel1
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Buat Hotel</a></li>
                    <li><a class="dropdown-item" href="#">List Hotel</a></li>
                    <li><a class="dropdown-item" href="#">Buat Ruangan Hotel</a></li>
                    <li><a class="dropdown-item" href="#">List Ruangan Hotel</a></li>
                    <li><a class="dropdown-item" href="#">Buat Paket Makan</a></li>
                    <li><a class="dropdown-item" href="#">List Paket Makan</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Hotel
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Buat Hotel</a></li>
                        <li><a class="dropdown-item" href="#">List Hotel</a></li>
                        <li><a class="dropdown-item" href="#">Buat Ruangan Hotel</a></li>
                        <li><a class="dropdown-item" href="#">List Ruangan Hotel</a></li>
                        <li><a class="dropdown-item" href="#">Buat Paket Makan</a></li>
                        <li><a class="dropdown-item" href="#">List Paket Makan</a></li>
                      </ul>
                    </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>




<h4>Alamat (Sesuai KTP)</h4>
    <div class="mb-3">
        <label for="jalanktpPasien" class="form-label">Jalan</label>
        <input type="text" name="ktp_jalan" class="form-control" id="jalanktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="kelurahanktpPasien" class="form-label">Kelurahan</label>
        <input type="text" name="ktp_kelurahan" class="form-control" id="kelurahanktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="kecamatanktpPasien" class="form-label">Kecamatan</label>
        <input type="text" name="ktp_kecamatan" class="form-control" id="kecamatanktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="kabkotktpPasien" class="form-label">Kabupaten/Kota</label>
        <input type="text" name="ktp_kabkot" class="form-control" id="kabkotktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="provinsiktpPasien" class="form-label">Provinsi</label>
        <input type="text" name="ktp_prov" class="form-control" id="provinsiktpPasien" required>
    </div>


  




