{% extends 'base.html' %}

{% block content %}
{% if request.session.username %}

<h3>{{ request.session.username }}</h3>
<h5>{{ request.session.peran }}</h5>
<br><br>



<form action="{% url 'pengguna:logout' %}">
    <input type="submit" value="Logout">
</form>
{% else %}
<h1><a href="{% url 'pengguna:login' %}">Login</a></h1>
<h1><a href="{% url 'pengguna:register' %}">Register</a></h1>
{% endif %}
{% endblock content %}