<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->

{% extends 'base.html' %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
  {% endif %}
    <form method="POST" action="{% url 'pengguna:login' %}">
        {% csrf_token %}
        <h3>Siruco - Login</h3>
        <div>Username</div>
        <div>
          <input type="text" name="username" placeholder="Username" required>
        </div>
        <div>Password</div>
        <div>
          <input type="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
{% endblock content %}
<!-- </body>
</html> -->