<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Siruco</title>
    <!--Somehow register gak bisa extend
    kalo extend nanti accordionnya gak jalan
    edit as you see fit-->
  </head>
  <body style="display: block; width: 100%; height: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'pengguna:index' %}">Siruco</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'pengguna:index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="register-form w-75 h-75 m-auto">
    <h1>Register as</h1>
    {% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Admin Sistem
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <form method="POST" action="{% url 'pengguna:register' %}">
                {% csrf_token %}
                <input type="hidden" name="peran" value="admin sistem">
                <div class="mb-3">
                    <label for="usernameAdminSistem" class="form-label">Email address</label>
                    <input type="text" name="username" class="form-control" id="usernameAdminSistem" required>
                </div>
                <div class="mb-3">
                    <label for="passwordAdminSistem" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordAdminSistem">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Pengguna publik
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <form method="POST" action="{% url 'pengguna:register' %}">
                {% csrf_token %}
                <input type="hidden" name="peran" value="pengguna publik">
                <div class="mb-3">
                    <label for="usernamePenggunaPublik" class="form-label">Email address</label>
                    <input type="text" name="username" class="form-control" id="usernamePenggunaPublik" required>
                </div>
                <div class="mb-3">
                    <label for="passwordPenggunaPublik" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordPenggunaPublik">
                </div>
                <div class="mb-3">
                    <label for="namaPenggunaPublik" class="form-label">Name</label>
                    <input type="text" name="nama" class="form-control" id="namaPenggunaPublik" required>
                </div><div class="mb-3">
                    <label for="nikPenggunaPublik" class="form-label">NIK</label>
                    <input type="text" name="nik" class="form-control" id="nikPenggunaPublik" required>
                </div><div class="mb-3">
                    <label for="noHpPenggunaPublik" class="form-label">Nomor Handphone</label>
                    <input type="text" name="nohp" class="form-control" id="noHpPenggunaPublik" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Dokter
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <form method="POST" action="{% url 'pengguna:register' %}">
                {% csrf_token %}
                <input type="hidden" name="peran" value="dokter">
                <div class="mb-3">
                    <label for="usernameDokter" class="form-label">Email address</label>
                    <input type="text" name="username" class="form-control" id="usernameDokter" required>
                </div>
                <div class="mb-3">
                    <label for="passwordDokter" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordDokter">
                </div>
                <div class="mb-3">
                    <label for="noSTRDokter" class="form-label">No. STR</label>
                    <input type="text" name="nostr" class="form-control" id="noSTRDokter" required>
                </div>
                <div class="mb-3">
                    <label for="namaDokter" class="form-label">Name</label>
                    <input type="text" name="nama" class="form-control" id="namaDokter" required>
                </div>
                <div class="mb-3">
                    <label for="noHpDokter" class="form-label">Nomor Handphone</label>
                    <input type="text" name="nohp" class="form-control" id="noHpDokter" required>
                </div>
                <div class="mb-3">
                    <label for="gelarDepanDokter" class="form-label">Gelar Depan</label>
                    <input type="text" name="gelardepan" class="form-control" id="gelarDepanDokter" required>
                </div>
                <div class="mb-3">
                    <label for="gelarBelakangDokter" class="form-label">Gelar Belakang</label>
                    <input type="text" name="gelarbelakang" class="form-control" id="gelarBelakangDokter" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Admin Satgas
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <form method="POST" action="{% url 'pengguna:register' %}">
                {% csrf_token %}
                <input type="hidden" name="peran" value="admin satgas">
                <div class="mb-3">
                    <label for="usernameAdminSatgas" class="form-label">Email address</label>
                    <input type="text" name="username" class="form-control" id="usernameAdminSatgas" required>
                </div>
                <div class="mb-3">
                    <label for="passwordAdminSatgas" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="passwordAdminSatgas">
                </div>
                <div class="mb-3">
                    <label for="kodeFaskesAdminSatgas" class="form-label">Kode faskes</label>
                    <select type="text" name="idfaskes" class="form-control" id="kodeFaskesAdminSatgas" required>
                        {% for kodefaskes in idfaskes %}
                        <option value='{{kodefaskes}}'>{{kodefaskes}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>
