<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>-->

{% extends 'base.html' %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
  {% endif %}
  <h3>Siruco - Register</h3>
  <div>Username</div>
  
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Admin Sistem
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="POST" action="{% url 'pengguna:register' %}">
          {% csrf_token %}
          <input type="hidden" name="peran" value="admin sistem">
          <div class="mb-3">
              <label for="usernameAdminSistem" class="form-label">Email address</label>
              <input type="text" name="username" class="form-control" id="usernameAdminSistem" required>
          </div>
          <div class="mb-3">
              <label for="passwordAdminSistem" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="passwordAdminSistem">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Pengguna publik
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="POST" action="{% url 'pengguna:register' %}">
          {% csrf_token %}
          <input type="hidden" name="peran" value="pengguna publik">
          <div class="mb-3">
              <label for="usernamePenggunaPublik" class="form-label">Email address</label>
              <input type="text" name="username" class="form-control" id="usernamePenggunaPublik" required>
          </div>
          <div class="mb-3">
              <label for="passwordPenggunaPublik" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="passwordPenggunaPublik">
          </div>
          <div class="mb-3">
              <label for="namaPenggunaPublik" class="form-label">Name</label>
              <input type="text" name="nama" class="form-control" id="namaPenggunaPublik" required>
          </div><div class="mb-3">
              <label for="nikPenggunaPublik" class="form-label">NIK</label>
              <input type="text" name="nik" class="form-control" id="nikPenggunaPublik" required>
          </div><div class="mb-3">
              <label for="noHpPenggunaPublik" class="form-label">Nomor Handphone</label>
              <input type="text" name="nohp" class="form-control" id="noHpPenggunaPublik" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Dokter
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="POST" action="{% url 'pengguna:register' %}">
          {% csrf_token %}
          <input type="hidden" name="peran" value="pengguna publik">
          <div class="mb-3">
              <label for="usernameDokter" class="form-label">Email address</label>
              <input type="text" name="username" class="form-control" id="usernameDokter" required>
          </div>
          <div class="mb-3">
              <label for="passwordDokter" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="passwordDokter">
          </div>
          <div class="mb-3">
              <label for="noSTRDokter" class="form-label">No. STR</label>
              <input type="text" name="nostr" class="form-control" id="noSTRDokter" required>
          </div>
          <div class="mb-3">
              <label for="namaDokter" class="form-label">Name</label>
              <input type="text" name="nama" class="form-control" id="namaDokter" required>
          </div>
          <div class="mb-3">
              <label for="noHpDokter" class="form-label">Nomor Handphone</label>
              <input type="text" name="nohp" class="form-control" id="noHpDokter" required>
          </div>
          <div class="mb-3">
              <label for="gelarDepanDokter" class="form-label">Gelar Depan</label>
              <input type="text" name="gelardepan" class="form-control" id="gelarDepanDokter" required>
          </div>
          <div class="mb-3">
              <label for="gelarBelakangDokter" class="form-label">Gelar Belakang</label>
              <input type="text" name="gelarbelakang" class="form-control" id="gelarBelakangDokter" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Admin Satgas
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form method="POST" action="{% url 'pengguna:register' %}">
          {% csrf_token %}
          <input type="hidden" name="peran" value="pengguna publik">
          <div class="mb-3">
              <label for="usernameAdminSatgas" class="form-label">Email address</label>
              <input type="text" name="username" class="form-control" id="usernameAdminSatgas" required>
          </div>
          <div class="mb-3">
              <label for="passwordAdminSatgas" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="passwordAdminSatgas">
          </div>
          <div class="mb-3">
              <label for="kodeFaskesAdminSatgas" class="form-label">Kode faskes</label>
              <select type="text" name="idfaskes" class="form-control" id="kodeFaskesAdminSatgas" required>
                  <option value="id1">contoh id1</option>
                  <option value="id2">contoh id2</option>
                  <option value="id3">contoh id3</option>
              </select>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- </body>
</html> -->