{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'transaksi_makan/js/transaksi_makan_create.js' %}"></script>

<h1>FORM BUAT TRANSAKSI MAKAN</h1>

<div>Id Transaksi : 
    <select name="id-transaksi" id="idT">
        <option value="">Pilih Id</option>
        {% for id_transaksi in id_transaksi_query %}
        <option value="{{id_transaksi}}">{{id_transaksi}}</option>
        {% endfor %}
    </select>
</div>
<div>Id Transaksi Makan : <label id="idTM">{{max_id}}</label> <br>
</div>
<div>Kode Hotel : 
    <label id="kode-hotel"></label>
</div>
<div>Pesanan:</div>
<div id="list-pesanan">

</div>
<div id="add-pesanan">TAMBAH</div>
<div id="submit">SIMPAN</div>
<a href="{% url 'transaksi_makan:index' %}">KEMBALI</a>
{% endblock %}