{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    table, th, td {
      border: 1px solid black;
    }

    table {
  width: 100%;
  border-collapse: collapse;
    }
</style>

<h1>DETAIL TRANSAKSI MAKAN</h1>

<p>Id Transaksi : {{id_transaksi}}</p>
<p>Id Transaksi Makan : {{id_transaksi_makan}}</p>
<p>Kode Hotel : {{kode_hotel}}</p>
<p>Daftar Pesanan:</p>
<table class="table mt-3">
    <thead class="bg-1">
      <tr>
        <th scope="col">Id Pesanan</th>
        <th scope="col">Paket Makan</th>
        <th scope="col">Harga</th>
      </tr>
    </thead>
    <tbody>
        {% for paket_makan in paket_makan_query %}
            <tr class="bg-4">
                <th scope="row">{{paket_makan.0}}</th>
                <td> {{paket_makan.1}}</td>
                <td> Rp{{paket_makan.2}}</td>
            </tr>     
        {% endfor %}
    </tbody>
</table>
<div>Total: Rp{{total_bayar}}</div>
<a href="{% url 'transaksi_makan:index' %}">KEMBALI</a>
{% endblock %}