{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- JS External -->
<script src="{% static 'transaksi_makan/js/transaksi_makan_index.js' %}"></script>
<style>
    table, th, td {
      border: 1px solid black;
    }

    table {
  width: 100%;
  border-collapse: collapse;
    }
</style>

<h1>TRANSAKSI MAKAN</h1>

{% if admin_satgas or public_user %}
<a href="{% url 'transaksi_makan:create_transaksi' %}">TAMBAH</a>
{% endif %}

<table class="table mt-3">
    <thead class="bg-1">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Id Transaksi</th>
        <th scope="col">Id Transaksi Makan</th>
        <th scope="col">Total Bayar</th>
        {% if public_user or admin_satgas %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for transaksi_makan in transaksi_makan_query %}
            <tr class="bg-4">
                <th class="idNo" scope="row">{{transaksi_makan.0}}</th>
                <td class="idT">{{transaksi_makan.1}}</td>
                <td class="idTM">{{transaksi_makan.2}}</td>
                <td>{{transaksi_makan.3}}</td>

                {% if public_user or admin_satgas %}

                <td>
                  
                    {% if transaksi_makan.4 != "Lunas" and admin_satgas %}
                    <div class="update-url">
                    update
                    </div>

                    <div class="delete-url">
                      delete
                    </div>
                    {% endif %}

                    <div class="detail-url">
                      detail
                    </div>
                </td>

                {% endif %}

            </tr>     
        {% endfor %}
    </tbody>
</table>

{% endblock %}