{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'transaksi_makan/js/transaksi_makan_update.js' %}"></script>
<style>
    table, th, td {
      border: 1px solid black;
    }

    table {
  width: 100%;
  border-collapse: collapse;
    }
</style>

<h1>FORM UBAH TRANSAKSI MAKAN</h1>

<div>Id Transaksi : <p id="idT">{{id_transaksi}}</p></div>
<div>Id Transaksi Makan : <p id="idTM">{{id_transaksi_makan}}</p></div>
<div>Kode Hotel : <p id="kode-hotel">{{kode_hotel}} </p></div>
<div>Pesanan Sebelumnya:</div>
<div>
    <ul id="list-pesanan">
        {% for pesanan in pesanan_query %}
        <li>
            {{ pesanan }}
        </li>    
        {% endfor %}
    </ul>
</div>
<div>
    Pesanan Tambahan:
</div>
    
    
<div id="list-tambah-pesanan">
    <div>Kode Paket: 
        <select name="paket" class="paket" id="paket">
        <option value="">Pilih Paket</option>
        {% for paket_makan in paket_makan_query %}
        <option value="{{paket_makan}}">{{paket_makan}}</option>
        {% endfor %}
    </select>
</div>
</div>
<div id="add-pesanan">TAMBAH</div>
<div id="submit">SIMPAN</div>
<a href="{% url 'transaksi_makan:index' %}">KEMBALI</a>

{% endblock %}