{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<h2>{{ message }}</h2>

<form method="POST" action="{% url 'jadwalfaskes:create' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kode_faskes" class="form-label">Faskes</label>
        <select type="text" name="kode_faskes" class="form-control" id="kode_faskes" required>
            {% for x in faskes %}
            <option value="{{ x.kode }}">{{ x.kode }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="shift" class="form-label">Shift</label>
        <input type="text" name="shift" class="form-control" id="shift" required>
    </div>
    <div class="mb-3">
        <label for="tanggal" class="form-label">Tanggal</label>
        <input type="date" name="tanggal" class="form-control" id="tanggal" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}