{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Faskes</th>
      <th scope="col">Shift</th>
      <th scope="col">Tanggal</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ row.kode_faskes }}</td>
      <td>{{ row.shift }}</td>
      <td>{{ row.tanggal }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}