{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<h3>DATA FASILITAS KESEHATAN</h3>
<div>
  <p>Kode Faskes: {{ data.kode }}</p>
  <p>Tipe: {{ data.tipe }}</p>
  <p>Nama Faskes: {{ data.nama }}</p>
  <p>Status Kepemilikan: {{ data.statusmilik }}</p>
  <p>Alamat: </p>
  <p>Jalan: {{ data.jalan }}</p>
  <p>Kelurahan: {{ data.kelurahan }}</p>
  <p>Kecamatan: {{ data.kecamatan }}</p>
  <p>Kabupaten/Kota: {{ data.kabkot }}</p>
  <p>Provinsi: {{ data.prov }}</p>
</div>
<div class="pi-draggable btn-group" draggable="true">
  <a class="btn btn-primary" href="{% url 'faskes:read' %}"><b>Back</b></a>
</div>


{% endblock %}