{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Kode Faskes</th>
      <th scope="col">Tipe</th>
      <th scope="col">Nama Faskes</th>
      {% if request.session.peran == "admin satgas" %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ row.kode }}</td>
      <td>{{ row.tipe }}</td>
      <td>{{ row.nama }}</td>
      <td>
        <div class="pi-draggable btn-group" draggable="true">
          <a class="btn btn-primary" href="{% url 'faskes:update' row.kode %}"><b>Update</b></a>
          <a class="btn btn-danger" href="{% url 'faskes:delete' row.kode %}"><b>Delete</b></a>
          <a class="btn btn-info" href="{% url 'faskes:detail' row.kode %}"><b>Detail</b></a>
        </div>
       </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}