{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %}
{% block content %}

<form method="POST" action="{% url 'faskes:updatePost' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kode" class="form-label">Kode Faskes</label>
        <input type="text" name="kode" class="form-control" value="{{ data.kode }}" id="kode" readonly>
    </div>
    <div class="mb-3">
        <label for="tipe" class="form-label">Tipe</label>
        <input type="text" name="tipe" class="form-control" value="{{ data.tipe }}" id="tipe" required>
    </div>
    <div class="mb-3">
        <label for="nama" class="form-label">Nama Faskes</label>
        <input type="text" name="nama" class="form-control" value="{{ data.nama }}" id="nama" required>
    </div>
    <div class="mb-3">
        <label for="statusmilik" class="form-label">Status Kepemilikan</label>
        <input type="text" name="statusmilik" class="form-control" value="{{ data.statusmilik }}" id="statusmilik" required>
    </div>
    
    <p>Alamat:</p>
    <div class="mb-3">
        <label for="jalan" class="form-label">Jalan</label>
        <input type="text" name="jalan" class="form-control" value="{{ data.jalan }}" id="jalan" required>
    </div>
    <div class="mb-3">
        <label for="kelurahan" class="form-label">Kelurahan</label>
        <input type="text" name="kelurahan" class="form-control" value="{{ data.kelurahan}}" id="kelurahan" required>
    </div>
    <div class="mb-3">
        <label for="kecamatan" class="form-label">Kecamatan</label>
        <input type="text" name="kecamatan" class="form-control" value="{{ data.kecamatan }}" id="kecamatan" required>
    </div>
    <div class="mb-3">
        <label for="kabkot" class="form-label">Kabupaten/Kota</label>
        <input type="text" name="kabkot" class="form-control" value="{{ data.kabkot }}" id="kabkot" required>
    </div>
    <div class="mb-3">
        <label for="prov" class="form-label">Provinsi</label>
        <input type="text" name="prov" class="form-control" value="{{ data.prov }}" id="prov" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>


{% endblock %}