{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'paket_makan/js/paket_makan_create.js' %}"></script>

<h1>FORM BUAT PAKET MAKAN</h1>

<div>Kode Hotel : 
    <select name="kode-hotel" id="kode-hotel">
        <option value="">Pilih Kode</option>
        {% for kode_hotel in kode_hotel_query %}
        <option value="{{kode_hotel}}">{{kode_hotel}}</option>
        {% endfor %}
    </select>
</div>
<label for="fname">Kode Paket : </label>
<input type="text" id="kode-paket" maxlength="5"></input> <br>
<label for="fname">Nama Paket : </label>
<input type="text" id="nama-paket" maxlength="20"></input> <br>
<label for="fname">Harga : Rp</label>
<input type="text" id="harga"></input> <br>


<div id="submit">SIMPAN</div>
<a href="{% url 'paket_makan:index' %}">KEMBALI</a>
{% endblock %}