{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- JS External -->
<script src="{% static 'paket_makan/js/paket_makan_index.js' %}"></script>
<style>
    table, th, td {
      border: 1px solid black;
    }

    table {
  width: 100%;
  border-collapse: collapse;
    }
</style>

<h1>PAKET MAKAN</h1>

{% if admin_sistem %}
<a href="{% url 'paket_makan:create_paket' %}">TAMBAH</a>
{% endif %}


<table class="table mt-3">
    <thead class="bg-1">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Hotel</th>
        <th scope="col">Kode Paket</th>
        <th scope="col">Nama Paket</th>
        <th scope="col">Harga</th>
        {% if admin_sistem %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for paket_makan in paket_makan_query %}
            <tr class="bg-4">
                <th scope="row">{{paket_makan.0}}</th>
                <td class="kode-hotel">{{paket_makan.1}}</th>
                <td class="kode-paket">{{paket_makan.2}}</td>
                <td class="nama-paket">{{paket_makan.3}}</td>
                <td>{{paket_makan.4}}</td>
                {% if admin_sistem %}

                <td>
                    
                    
                    <div class="update-url">
                    update
                    </div>

                    {% if paket_makan.5 == "false" %}
                    <div class="delete-url">
                      delete
                    </div>
                    {% endif %}

                    
                </td>
                {% endif %}
            </tr>     
        {% endfor %}
    </tbody>
</table>

{% endblock %}