{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="{% static 'paket_makan/js/paket_makan_update.js' %}"></script>

<h1>FORM BUAT PAKET MAKAN</h1>

<div>Hotel : <label id="kode-hotel">{{paket_makan.0}}</label></div>
<div>Kode Paket : <label id="kode-paket">{{paket_makan.1}}</label></div>
<label>Nama Paket : </label>
<input type="text" id="nama-paket" maxlength="20" value="{{paket_makan.2}}"></input> <br>
<label>Harga : Rp</label>
<input type="text" id="harga" value="{{paket_makan.3}}"></input> <br>


<div id="submit">SIMPAN</div>
<a href="{% url 'paket_makan:index' %}">KEMBALI</a>
{% endblock %}