{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
<h4>Form Pendaftaran Pasien</h4>
<form method="POST" action="{% url 'pasien:createPasien' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="disabledInput" class="form-label">Pendaftar</label>
        <input class="form-control" name="idPendaftar" id="disabledInput" value="{{request.session.username}}" type="text" placeholder="{{ request.session.username }}" disabled>
    </div>
    <div class="mb-3">
      <label for="nikPasien" class="form-label">NIK</label>
      <input type="text" name="nik" class="form-control" id="nik" required>
    </div>
    <div class="mb-3">
      <label for="namaPasien" class="form-label">Nama</label>
      <input type="text" name="nama" class="form-control" id="namaPasien" required>
    </div>
    <div class="mb-3">
        <label for="noTeleponPasien" class="form-label">Nomor Telepon</label>
        <input type="text" name="notelp" class="form-control" id="noTeleponPasien" required>
    </div>
    <div class="mb-3">
        <label for="nohpPasien" class="form-label">Nomor Handphone</label>
        <input type="text" name="nohp" class="form-control" id="nohpPasien" required>
    </div>
    <br>
    <h4>Alamat (Sesuai KTP)</h4>
    <div class="mb-3">
        <label for="jalanktpPasien" class="form-label">Jalan</label>
        <input type="text" name="ktp_jalan" class="form-control" id="jalanktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="kelurahanktpPasien" class="form-label">Kelurahan</label>
        <input type="text" name="ktp_kelurahan" class="form-control" id="kelurahanktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="kecamatanktpPasien" class="form-label">Kecamatan</label>
        <input type="text" name="ktp_kecamatan" class="form-control" id="kecamatanktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="kabkotktpPasien" class="form-label">Kabupaten/Kota</label>
        <input type="text" name="ktp_kabkot" class="form-control" id="kabkotktpPasien" required>
    </div>
    <div class="mb-3">
        <label for="provinsiktpPasien" class="form-label">Provinsi</label>
        <input type="text" name="ktp_prov" class="form-control" id="provinsiktpPasien" required>
    </div>
    <br>
    <h4>Alamat (Sesuai Domisili)</h4>
    <div class="mb-3">
        <label for="jalanDomPasien" class="form-label">Jalan</label>
        <input type="text" name="dom_jalan" class="form-control" id="jalanDomPasien" required>
    </div>
    <div class="mb-3">
        <label for="kelurahanDomPasien" class="form-label">Kelurahan</label>
        <input type="text" name="dom_kelurahan" class="form-control" id="kelurahanDomPasien" required>
    </div>
    <div class="mb-3">
        <label for="kecamatanDomPasien" class="form-label">Kecamatan</label>
        <input type="text" name="dom_kecamatan" class="form-control" id="kecamatanDomPasien" required>
    </div>
    <div class="mb-3">
        <label for="kabkotDomPasien" class="form-label">Kabupaten/Kota</label>
        <input type="text" name="dom_kabkot" class="form-control" id="kabkotDomPasien" required>
    </div>
    <div class="mb-3">
        <label for="provinsiDomPasien" class="form-label">Provinsi</label>
        <input type="text" name="dom_prov" class="form-control" id="provinsiDomPasien" required>
    </div>
    <br>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}