{% extends 'base.html' %}

{% block content %}
<h4>Detail Pasien</h4>

<h6>Pendaftar: {{ dataPasien.0 }}</h6>
<p>NIK: {{ dataPasien.1 }}</p>
<p>Nama: {{ dataPasien.2 }}</p>
<p>No Telepon: {{ dataPasien.3 }}</p>
<p>No Handphone: {{ dataPasien.4 }}</p><br>
<h6>Alamat (Sesuai KTP): </h6>
<p>Jalan: {{ dataPasien.5 }}</p>
<p>Kelurahan: {{ dataPasien.6 }}</p>
<p>Kecamatan: {{ dataPasien.7 }}</p>
<p>Kabupaten/Kota: {{ dataPasien.8 }}</p>
<p>Provinsi: {{ dataPasien.9 }}</p><br>
<h6>Alamat (Sesuai Domisili): </h6>
<p>Jalan: {{ dataPasien.10 }}</p>
<p>Kelurahan: {{ dataPasien.11 }}</p>
<p>Kecamatan: {{ dataPasien.12 }}</p>
<p>Kabupaten/Kota: {{ dataPasien.13 }}</p>
<p>Provinsi: {{ dataPasien.14 }}</p><br>

<a href="{% url 'pasien:readPasien' %}">Kembali</a>

{% endblock content %}