{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
    {% endif %}
    <h3>Daftar pasien</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">NIK</th>
        <th scope="col">Nama Pasien</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for pasien in listPasien %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ pasien.0 }}</td>
        <td>{{ pasien.1 }}</td>
        <td> 
          <a href="{% url 'pasien:updatePasien' pasien.0 %}">Update</a> | 
          <a href="{% url 'pasien:deletePasien' pasien.0 %}">Delete</a> | 
          <a href="{% url 'pasien:detailPasien' pasien.0 %}">Detail</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}