{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'reservasirs.js' %}"></script>
{% endblock meta %}
{% block content %}

{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
{% endif %}

<h1>FORM BUAT RESERVASI RUMAH SAKIT</h1>

<form method="POST" action="{% url 'reservasirs:create' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kodepasien" class="form-label">NIK Pasien</label>
        <select type="text" name="kodepasien" class="form-control" id="kodepasien" required>
            {% for x in nik %}
            <option value="{{ x.nik }}">{{ x.nik }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="tglmasuk" class="form-label">Tanggal Masuk</label>
        <input type="date" name="tglmasuk" class="form-control" id="tglmasuk" required>
    </div>
    <div class="mb-3">
        <label for="tglkeluar" class="form-label">Tanggal Keluar</label>
        <input type="date" name="tglkeluar" class="form-control" id="tglkeluar" required>
    </div>
    <div class="mb-3">
        <label for="koders" class="form-label">Kode RS</label>
        <select type="text" name="koders" class="form-control" id="koders" required>
            <option disabled selected value> -- select an option -- </option>
            {% for x in koders %}
            <option value="{{ x.kode_faskes }}">{{ x.kode_faskes }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="koderuangan" class="form-label">Kode Ruangan</label>
        <select type="text" name="koderuangan" class="form-control" id="koderuangan" required>
            <option disabled selected value> -- select an option -- </option>
            <!--Ajax value goes here-->
        </select>
    </div>
    <div class="mb-3">
        <label for="kodebed" class="form-label">Kode Bed</label>
        <select type="text" name="kodebed" id="kodebed" class="form-control" required>
            <option disabled selected value> -- select an option -- </option>
            <!--Ajax value goes here-->
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock %}