{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'rs/tolong.js' %}"></script>
{% endblock meta %}
{% block content %}

<table class="table">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">NIK Pasien</th>
      <th scope="col">Tanggal Masuk</th>
      <th scope="col">Tanggal Keluar</th>
      <th scope="col">Rumah Sakit</th>
      <th scope="col">Ruangan</th>
      <th scope="col">Bed</th>
      {% if request.session.peran == "admin satgas" %}
      <th>Action</th>
      {% endif %}

    </tr>

    {% for row in data %}
    <tr>
      <td scope="row">{{ forloop.counter }}</td>
      <td>{{ row.kodepasien }}</td>
      <td>{{ row.tglmasuk }}</td>
      <td>{{ row.tglkeluar }}</td>
      <td>{{ row.koders }}</td>
      <td>{{ row.koderuangan }}</td>
      <td>{{ row.kodebed }}</td>
      {% if request.session.peran == 'admin satgas' %}
      <td>
          <div class="pi-draggable btn-group" draggable="true">
              <a class="btn btn-primary" href="{% url 'reservasirs:update' row.kodepasien row.tglmasuk %}"><b>Update</b></a>
              <a class="btn btn-danger" href="{% url 'reservasirs:delete' row.kodepasien row.tglmasuk %}"><b>Delete</b></a>
          </div>
      </td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>

{% endblock %}