{% extends 'base.html' %}
{% load static %}
{% block meta %}
<script src="{% static 'rs/tolong.js' %}"></script>
{% endblock meta %}
{% block content %}

{% if messages %}
    <br>
    <h4>
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </h4>
{% endif %}

<form method="POST" action="{% url 'reservasirs:updatePost' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="kodepasien" class="form-label">NIK Pasien</label>
        <input type="text" name="kodepasien" class="form-control" value="{{ data.kodepasien }}" id="kodepasien" readonly>
    </div>
    <div class="mb-3">
        <label for="tglmasuk" class="form-label">Tanggal Masuk (YYYY-MM-DD)</label>
        <input type="input" name="tglmasuk" class="form-control" value="{{ data.tglmasuk|date:'Y-m-d' }}" id="tglmasuk" readonly>
    </div>
    <div class="mb-3">
        <label for="tglkeluar" class="form-label">Tanggal Keluar (YYYY-MM-DD)</label>
        <input type="input" name="tglkeluar" class="form-control" value="{{ data.tglkeluar|date:'Y-m-d' }}" id="tglkeluar" required>
    </div>
    <div class="mb-3">
        <label for="koders" class="form-label">Kode RS</label>
        <input type="text" name="koders" class="form-control" value="{{ data.koders }}" id="koders" readonly>
    </div>
    <div class="mb-3">
        <label for="koderuangan" class="form-label">Kode Ruangan</label>
        <input type="text" name="koderuangan" class="form-control" value="{{ data.koderuangan }}" id="koderuangan" readonly>
    </div>
    <div class="mb-3">
        <label for="kodebed" class="form-label">Kode Bed</label>
        <input type="text" name="kodebed" class="form-control" value="{{ data.kodebed }}" id="kodebed" readonly>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>


{% endblock %}